<div style="display: flex; height: 100vh;">
    <app-nav></app-nav>
    <div class="container">
        <h4 class="text-center">ACTUALIZAR REGISTRO</h4>
        <br>
        <form class="row g-3" (ngSubmit)="actualizarProducto()">
            <div class="col-md-6">
                <label for="idProd" class="form-label">ID</label>
                <input type="number" class="form-control" id="idProd"  [(ngModel)]="editProductos.id" required [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-md-6">
                <label for="codPro" class="form-label">Codigo</label>
                <input type="double" class="form-control" id="codPro" [(ngModel)]="editProductos.codPro" required  [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-12">
                <label for="nomPro" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nomPro" [(ngModel)]="editProductos.nomPro" required [ngModelOptions]="{standalone: true}">
            </div>

            <div class="col-md-6">
                <label for="proveedor" class="form-label">Proveedor</label>
                <select id="proveedor" class="form-select" [(ngModel)]="editProductos.proveedor" [ngModelOptions]="{standalone: true}">
                    <option selected value="0">seleccione...</option>
                    <option *ngFor="let proveedor of proveedores" 
                    [value]="proveedor.id">{{proveedor.nomProvee}}</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precio" [(ngModel)]="editProductos.precio"  [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-md-6">
                <label for="fechaCompra" class="form-label">Fecha Compra</label>
                <input type="date" asp-format="{0:dd-MM-yyyy}" class="form-control" id="fechaCompra" [(ngModel)]="editProductos.fechaCompra" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="col-md-6">
                <label for="stock" class="form-label">stock</label>
                <input type="number" class="form-control" id="stock" [(ngModel)]="editProductos.stock" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
                | <button type="button" class="btn btn-danger" (click)="regresar()">Regresar</button>
            </div>

        </form>
    </div>
</div>