<div style="display: flex;">
  <div class="login-container">
    <form [formGroup]="loginForm" class="formulario">
        <div>
          <h4 class="text-center">Iniciar Sesión</h4>
          <p class="text-center">Ingresa los datos requeridos</p>
        </div>

        <!-- Mensaje de error general -->
        <p class="text-danger text-center" *ngIf="loginError">{{loginError}}</p>

        <!-- Campo de Email -->
        <div class="acciones">
            <!-- <label for="exampleInputEmail1" class="form-label">Email</label> -->
            <input formControlName="username" type="email" class="input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-text text-danger">
                <div *ngIf="email.errors?.['required']">El Email es requerido.</div>
                <div *ngIf="email.errors?.['email']">El Email debe tener un formato válido.</div>
            </div>
        </div>

        <!-- Campo de Password -->
        <div class="acciones">
            <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
            <input formControlName="password" type="password" class="input" id="exampleInputPassword1" placeholder="Contraseña">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="form-text text-danger">
                <div *ngIf="password.errors?.['required']">El Password es requerido.</div>
            </div>
        </div>

        <!-- Botón de Iniciar Sesión -->
        <div class="acciones d-grid">
            <button type="submit" (click)="login()" class="create">Iniciar Sesión</button>
        </div>

        <div class="info">
          <div class="linea"></div>
          <span>O</span>
          <div class="linea"></div>
        </div>

        <!-- Link para registrar -->
        <div class="info">
            <a routerLink="register" class="botonregister">Registrarse</a>
        </div>
    </form>
  </div>

  <div class="mitad">
    <div class="contenido">
        
        <div class="logo">
            <i class="fa-brands fa-slack"></i>
            <h2>FarmaStock</h2>
        </div>

        <div>
            <img style="width: 66%;" src="../../../assets/img/svg-login.svg">
        </div>

        <div class="frase">
            <em>"If you can imagine it, you can program it."</em>
            <p>Alejandro Taboada</p>
        </div>
        
    </div>

  </div>
</div>
