# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Salidas de producción y compilación
dist/
build/

# Caché y configuraciones de Angular
.angular/
.angular/cache/
.angular/cache/*
.angular/cache/babel-webpack

# Directorios temporales
tmp/
temp/

# Archivos de compilación
*.log
*.lock
*.tsbuildinfo

# Archivos de configuración de IDE
.idea/
.project
.classpath
.c9/
*.launch
.settings/
.vscode/
.history/
.editorconfig

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros archivos específicos de OS o entornos
*.swp
*.swo
