<div style="display: flex; height: 100vh;">
  <app-nav></app-nav>
  <div class="container">
      <h1 class="text-center mb-4" style="margin-top: 23px;">Lista de Solicitudes</h1>
      <button type="button" class="btn btn-dark" (click)="irRegistroSolicitud()">Requerimiento</button>
      <br>
      <br>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Id Producto</th>
        <th class="text-center">Id Proveedor</th>
        <th class="text-center">Correo</th>
        <th class="text-center">Cantidad</th>
        <th class="text-center">Fecha</th>
        <th class="text-center">Descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitudes">
        <td class="text-center">{{solicitud.id}}</td>
        <td class="text-center">{{solicitud.objProducto?.nomPro}}</td>
        <td class="text-center">{{solicitud.objProducto?.objProveedor?.nomProvee}}</td>
        <td class="text-center">{{solicitud.objProducto?.objProveedor?.email}}</td>
        <td class="text-center">{{solicitud.cantidad}}</td>
        <td class="text-center">{{solicitud.fecha}}</td>
        <td class="text-center">{{solicitud.descripcion}}</td>
      </tr>
    </tbody>
  </table>
  </div>
<div>

