<div style="display: flex; height: 100vh;">
    <app-nav></app-nav>

    <div class="" style="padding: 30px 50px; width: 100%;">
        <h2>Listado de Productos</h2>
        <br>
        <div class="bar">
          <button class="btnAgregar" (click)="registrarProducto()">Agregar producto</button>
          <div class="navbuscar">
            <input class="inputBuscar" type="text" [(ngModel)]="nomPro" placeholder="Buscar producto"/>
            <button class="btnBuscar" (click)="buscarProducto(nomPro)"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
        </div>
        <br>
        <div class="tabla">
          <table>
              <thead>
                  <tr>
                    <th>ID</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Proveedor</th>
                    <th>Precio</th>
                    <th>Fecha compra</th>
                    <th>Stock</th>
                    <th>Acciones</th>
                  </tr>
              </thead>
              <tbody id="taskTableBody">
                  <tr *ngFor="let producto of productos">
                      <td><p>{{producto.id}}</p></td>
                      <td><p>{{producto.codPro}}</p></td>
                      <td><p>{{producto.nomPro}}</p></td>
                      <td><p>{{producto?.objProveedor?.nomProvee}}</p></td>
                      <td><p>{{producto.precio}}</p></td>
                      <td><p>{{producto.fechaCompra | date:'dd/MM/yyyy'}}</p></td>
                      <td><p>{{producto.stock}}</p></td>
                      <td style="display: flex; gap: 5px;">
                        <button class="btnTable" (click)="editarProducto(producto.id)"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btnTabDel" (click)="eliminarProducto(producto.id)"><i class="fa-solid fa-trash-can"></i></button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>

</div>
