<li class="nav-item dropdown pe-3">
  <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
      <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
      <span class="d-none d-md-block dropdown-toggle ps-2">{{ user?.firstname }} {{ user?.lastname }}</span>
    </a><!-- End Profile Image Icon -->
    
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
      <li class="dropdown-header text-center">
        <h6>{{ user?.firstname }} {{ user?.lastname }}</h6>
        <span>{{ user?.phone }}</span>
      </li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <a class="dropdown-item d-flex align-items-center" routerLink="/register" *ngIf="userLoginOn && !editMode" (click)="editMode=true">
          <i class="bi bi-box-arrow-right"></i>
          <span>Registrar Usuario</span>
        </a>
      </li>
      
      <!--<li>
        <hr class="dropdown-divider">
      </li>
      <li>
        <button *ngIf="userLoginOn && !editMode" (click)="editMode=true"  class="btn btn-dark">Editar Datos Personales</button>
      </li>      
      <li>
        <hr class="dropdown-divider">
      </li>-->
      <li>
        <a class="dropdown-item d-flex align-items-center" routerLink="/">
          <i class="bi bi-box-arrow-right"></i>
          <span>Salir</span>
        </a>
      </li>
    </ul><!-- End Profile Dropdown Items -->
  </li>

<form *ngIf="userLoginOn && editMode" [formGroup]="registerForm" >
    <div class="form-group row">
        <label for="inputFirstName" class="col-sm-1 col-form-label">Nombre</label>
        <div class="col-sm-11">
        <input type="text" formControlName="firstname" class="form-control" id="inputFirstName">
        
            <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="text-danger">
                <div *ngIf="firstname.errors?.['required']">
                    El Nombre es requerido.
                </div>

            </div>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputLasttName" class="col-sm-1 col-form-label">Apellido</label>
        <div class="col-sm-11">
        <input type="text" formControlName="lastname" class="form-control" id="inputLasttName">
        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="text-danger">
            <div *ngIf="lastname.errors?.['required']">
                El Apellido es requerido.
            </div>
        </div>
    </div>
    </div>
    <div class="form-group row border-bottom pb-3" >
        <label for="inputPhone" class="col-sm-1 col-form-label">Celular</label>
        <div class="col-sm-11">
        <input type="phone" formControlName="phone" class="form-control" id="inputPhone" >
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="text-danger">
            <div *ngIf="phone.errors?.['required']">
                El Celular es requerido.
            </div>
        </div>
    </div>
    </div>
    <button type="submit" (click)="savePersonalDetailsData()"  class="btn btn-dark mt-3 ml-3">Guardar</button>
    <a class="btn btn-danger mt-3" (click)="editMode=false">Cancelar</a>
</form>
