*{
    padding: 0;
    margin: 0;
    /* font-family: 'SF Pro Display', sans-serif; */
} 

body{
    color: white;
    transition: opacity 0.3s ease;
}


/*--Sidebar--*/
.sidebar {
    position: relative;
    top: 0;
    /* left: -280px;  */
    width: 200px;
    height: 100%;
    background-color: #007bb2;
    border: 1px solid #007bb2;
    color: white;
    padding: .5rem;
    border-radius: 0px 6px 6px 0px;
    transition: left 0.3s ease;
    z-index: 2;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}




.sidebar.open {
    left: -2px; /* Muestra el sidebar */
}

.sidebar button {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    background-color: transparent;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
    border-radius: 6px;
}

.sidebar button i{
    font-size: 15px;
}

.sidebar button:hover {
    background-color: #016796;
}




.opcion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    background-color: transparent;
    color: white;
    padding: 9px 12px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 7px;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.1s;
}
.opcion:hover{
    background-color: #016796;
}

.opcion .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}


.suboptions {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.5s ease, opacity 0.5s ease;
}

.suboptions.show {
    height: auto;
    opacity: 1;
}


.suboption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #09090b;
    color: #b6b6b6;
    padding: 8px 18px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 5px;
    border-radius: 6px;
    font-size: 13px;
    transition: 0.4s ease;
}
.suboption:hover{
    background-color: #27272a;
}

.suboptions.expanded {
    max-height: 500px; /* Set this to a value large enough to fit the content */
}

.line{
    height: 0.1px;
    background-color: white;
}


button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #27272a;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #09090b;
}

/*--Boton para abrir el sidebar--*/
.hamburger {
    height: 50px;
    width: 50px;
    transform: 0.2s;
    position: relative;
  }
  .hamburger .checkbox {
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .line {
    transition: 0.5s;
    stroke-width: 6px;
    stroke: white;
  }
  .lineTop {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 25;
  }
  .lineBottom {
    stroke-dasharray: 40 40;
    stroke-dashoffset: 60;
  }
  .lineMid {
    stroke-dasharray: 40 40;
  }
  .hamburger .checkbox:checked + svg .line {
    stroke: crimson;
  }
  .hamburger .checkbox:checked + svg .lineTop {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(45deg) translate(-7px, -5px);
  }
  .hamburger .checkbox:checked + svg .lineMid {
    stroke-dashoffset: 40;
  }
  .hamburger .checkbox:checked + svg .lineBottom {
    stroke-dashoffset: 0;
    transform-origin: left;
    transform: rotateZ(-45deg) translate(-5px, 5px);
  }
  




 /*--Dialogo Alerta--*/
.fondo-dialogo {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000c;
    animation: scale-in 0.01s;
}
.dialogo {
    width: 30%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--background);
    border-radius: 8px;
    border: 0.1px solid var(--border);
    gap: 10px;
    transform: scale(0.9);
    animation: scale-in 0.2s forwards;
}


@keyframes scale-in {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes scale-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.dialogo p{
    font-size: 15px;
    text-align: start;
    color: #aaa;
}
.btn-dialogo{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}